.step3 .encabezado{
    width: 250px;
}

.step3 .titulo_formCodigo{
    font-family: 'BebasNeueRegular';
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0px;
    color:#2D2D2D;
    margin-bottom: 10px;
    text-align: center;
}

.lata_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    .lata_titulo{
        flex-direction: row;
        padding-inline: 10vw;
    }

    .lata_titulo img{
        width: 40vw !important;
    }
    .lata_titulo .titulo_formCodigo{
        font-size: 18px !important;
        color: white;
    }
}