@font-face {
  font-family: "BebasNeueBold";
  src: local("BebasNeueBold"),
    url("./fonts/bebas-neue/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: local("BebasNeueRegular"),
    url("./fonts/bebas-neue/BebasNeueRegular.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  box-sizing: content-box;
  overflow: hidden;
  height: 100vh;
  background-image: url("./assets/imagenes/background-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 9vw;
  gap: 30px;
}

@media (max-width: 750px) {
  body{
    background-image: url("./assets/imagenes/background-mobile.jpg");
  }

  .contenido {
    height: 50vh;
    width: 100vw;
    margin-left: 0px;
    gap: 15px;
    margin-top: 30px;
  }
}
