.botonSiguiente {
    background-color: #ffffff00;
    color: #D60000;
    margin: 10px auto;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    font-family: "BebasNeueBold";
    transition: 300ms;
  }
  
  .botonSiguiente p {
    margin: 0px;
  }
  
  .botonSiguiente:hover {
    gap: 10px;
    transition: 300ms;
  }
  
  .flechaRoja {
    width: 10px;
  }
  .botonSiguienteMobile{
    display: none;
  }
  
  @media (max-width: 750px) {
    .botonSiguiente {
      display: none;
    }
    .flechaRoja {
      width: 10px;
    }
    .botonSiguienteMobile{
      background-color: #ffffff00;
      color: #fff;
      margin: 10px auto;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      border: none;
      font-family: "BebasNeueBold";
      transition: 300ms;
    }
  }