.botonSiguiente {
    background-color: #ffffff00;
    color: #D60000;
    margin: 10px auto;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    font-family: "BebasNeueBold";
    transition: 300ms;
  }
  
  .botonSiguiente p {
    margin: 0px;
  }
  
  .botonSiguiente:hover {
    gap: 10px;
    transition: 300ms;
  }
  
  .flechaRoja {
    width: 10px;
  }

  @media (max-width: 750px) {
    .botonSiguiente {
      color: #fff;
      margin: 5px auto;
      font-size: 18px;
      gap: 5px;
    }
      
    .botonSiguiente:hover {
      gap: 10px;
      transition: 300ms;
    }
    
    .flechaRoja {
      width: 10px;
    }
  
  }