.contenedorDateSelect {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 10px;
  flex-direction: row;
}
.contenedorDateSelect select {
  background-color: #d60000;
  border-radius: 12px;
  color: white;
  font-size: 1.3rem;
  padding: 8px 14px;
  border: none;
  font-family: "BebasNeueRegular";
  border-right: 13px solid transparent;
  text-align: center;
}

.contenedorDateSelect select option {
  font-family: "BebasNeueRegular";
  font-size: 1rem;
}

.titulo_selector_Edad {
  font-family: "BebasNeueRegular";
  text-align: center;
  font-size: 1.7rem;
  margin: 0px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.contenedorCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-family: "BebasNeueBold";
  font-size: 1.3rem;
  color: #2d2d2d;
}

.ReactModal__Content {
  justify-content: center;
  align-content: center;
  display: flex;
}

.tituloModal p {
  font-family: "BebasNeueBold";
  color: #d60000;
  text-align: center;
}

.tituloModal{
  font-family: "BebasNeueBold";
}

.botonModal {
  width: 10vw;
  margin: 0 auto;
  background-color: #d60000;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 23px;
  font-size: 1.3vw;
  font-family: "BebasNeueRegular";
  margin-bottom: 20px;
  transition: 300ms;
}

.botonModal:hover {
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.75);
  transform: translate(-2px, -2px);
  transition: 300ms;
}

.checkbox {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  border-radius: 100px;
  padding: 0;
  flex-shrink: 0;
  border-width: 1px;
  user-select: none;
  background-color: #d6000017;
  border: 3px solid #d60000;
  transition:300ms;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  transition:300ms;
  background-color: #d60000;
}


.contenedormodalerror {
  text-align: center;
}

@media (max-width: 750px) {
  .contenedorDateSelect select {
    background-color: white;
    color: #d60000;
    font-size: 13px;
    padding: 4px 7px;
  }
    
  .contenedorCheckbox {
    padding-top: 20px;
    font-family: "BebasNeueBold";
    font-size: 14px;
    color: white;
  }
  
  .checkbox {
    border: 3px solid #fff;
  }
  
  .checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: #fff;
  }
  
  
  .contenedormodalerror {
    text-align: center;
  }
}